@import url("https://fonts.googleapis.com/css?family=Ovo:300,400,500,700&display=swap");
body {
  font-family: "Ovo";
  margin: 0;
  padding: 0;
  background-color: rgb(76, 117, 250);
  color: #fff;
}
